/* General */
html body {
	margin: 0px; font-family: Helvetica, Arial, sans-serif;
}

.loading {
	position: fixed; top: 50%; left: 50%;
	z-index: 5000;
	display: none;
}

.ui-widget {
	font-size: 0.8em;
}

.imageButton:hover {
	opacity: 0.4; cursor: pointer;
}

a {
	color: brown;
}

a:hover {
	color: chocolate; cursor: pointer;
}

.spaceRight {
	padding-right: 7px;
}

.spaceLeft {
	padding-left: 7px;
}

.profileContent,.recommendedContent {
	overflow: scroll; height: 100%;
}

/* Content and main content */
.content {
	position: fixed; top: 76px; width: 100%;
}

.mainContent {
	width: 100%;
}

/* Header */
.header {
	background-color: #F0E4CE; border-bottom: 3px solid brown; width: 100%;
	heigth: 87px; position: fixed; top: 0px; z-index: 1000;
}

.ui-menu {
	width: 120px; position: fixed; top: 30px; right: 10px; z-index: 5000;
}

.logoutBlock .username {
	position: relative; top: 1px; right: 10px; font-size: 80%;
}

#headerImage {
	height: 70px; left: 100px; position: relative;
}

.navbar {
	position: absolute; top: 4px; right: 18px;
}

.header .done {
	position: absolute; top: 79px; z-index: 10; right: 18px;
}

/* Footer */
.footer {
	background-color: #F0E4CE; height: 53px; clear: both; margin-top: 10px;
	border-top: 3px solid brown; padding-top: 5px; padding-bottom: 5px;
	font-size: 0.8em; width: 100%; position: fixed; bottom: 0px;
	overflow: hidden;
}

.footer .logos {
	height: 70%; width: 100%;
}

.footer .group {
	position: relative; float: left; margin-right: 50px;
}

.footer .group .title {
	position: relative; margin-left: 10px; margin-bottom: 10px;
	font-weight: bold;
}

.footer .logo {
	max-width: 150px; max-height: 40px; margin-right: 10px;
	margin-left: 10px; vertical-align: bottom;
}

/* Login and registration */
.dialog {
	display: none;
}

.dialog input.text {
	margin-bottom: 12px; width: 95%; padding: .4em;
}

.dialog fieldset {
	padding: 0; border: 0; margin-top: 25px;
}

/* Annotation screen */
.annotationFrame {
	position: relative; float: left; border: none; width: 100%;
	height: 100%;
}

/* Recommendation screen  */
.recommendation {
	margin-left: auto; margin-right: auto; width: 95%;
}

.recommendation h2 {
	text-align: center; width: 100%;
}

.recommendation .previous,.recommendation .next {
	position: relative; float: left; margin-top: auto; margin-bottom: auto;
	top: 125px; width: 5%;
}

.recommendation .previous img,.recommendation .next img {
	position: relative; top: 40%;
}

.recommendation .previous img {
	float: left
}

.recommendation .next img {
	float: right;
}

.recommendation .search {
	position: relative; width: 100%; text-align: center;
	margin-bottom: 20px; display: none;
}

.recommendationItem {
	position: relative; float: left; text-align: center; width: 28%;
	height: 100%; margin: 8px;
}

.recommendationItem img {
	max-height: 100%; max-width: 90%; postition: relative;
	margin-right: auto; margin-left: auto;
}

.recTitle {
	font-size: 1.1em; font-weight: bold;
}

/* Profile  */
.infoblock {
	position: relative; float: left; width: 45%; margin-right: 10px;
}

.pnlInterests {
	margin-top: 10px;
}

.expertiseSlider {
	width: 150px;
}

.refresh {
	width: 100%;
}