/* Header */

.header td:nth-child (1) {
	width: 60%;
}

h1 {
	text-align: center; width: 100%;
}

.navbar {
	position: absolute; top: 10px; right: 20px;
}

/* Login and registration */

.dialog{
	display: none;
}

.dialog input.text {
	margin-bottom: 12px; width: 95%; padding: .4em;
}

.dialog fieldset {
	padding: 0; border: 0; margin-top: 25px;
}

/* Annotation screen */
.annotationFrame {
	position:relative;
	float:left;
	border: none; width: 800px; height: 800px;
}
.doneButton {
	position: absolute; left: 13px; top: 13px;
}
.recommendations{
	position:relative;
	float:left;
}
