/* General */
html,body {
	margin: 0px; font-family: Arial, Helvetica, sans-serif;
	background: white; height: 100%; width: 100%;
}

body,.content,.mainContent,.introContent {
	position: relative; width: 100%; height: 100%;
}

.mainContent {
	margin-top: 50px;
}

.loading {
	position: fixed; top: 50%; left: 50%; z-index: 5000; display: none;
}

a {
	color: #505050;
}

a:hover {
	color: #909090; cursor: pointer;
}

.spaceRight {
	padding-right: 7px;
}

.spaceLeft {
	padding-left: 7px;
}

.profileContent,.recommendedContent {
	overflow: scroll; height: 100%;
}

/* Header */
.logoutBlock .username {
	position: relative; color: white; top: 5px; right: 150px;
	font-size: 80%;
}

#headerImage {
	height: 20px;
}

/* Footer */
.introFooter {
	height: 20px; position: fixed; bottom: 10px; left: 20px; right: 20px;
}

.footerLogo {
	max-height: 90%; position: relative;	
}

#footerLogoCommit {
	float: right;
}

#footerLogoRijksmuseum {
	float: left;
}

/* Login and registration */
.dialog {
	display: none;
}

.dialog input.text {
	margin-bottom: 12px; width: 95%; padding: .4em;
}

.dialog fieldset {
	padding: 0; border: 0; margin-top: 25px;
}

.modal-footer {
	margin-top: 0;
}


 
/* Intro screen */
.introContent .top {
	position: relative; height: 100%; overflow: hidden;
}

.introText {
	position: absolute; top: 75px;
}

.backgroundImage {
	position: relative; 
	top: 0; 
	left: 0; 
		
	/* Preserve aspect ratio */
	min-width: 100%;
}

.introContent .bottom {
	min-height: 600px;
	margin-top:50px;
}

.introContent .bottom .row {
	height: 250px;
}

/* Logos */
.logo {
	height: 150px;
}

/* Button */
.introLink {
	color: #505050;
}

.introLink:hover {
	color: #909090; cursor: pointer;
}

.introLink:focus {
	outline: none;
}

#learn-more {
	position: absolute; bottom: 90px; left: 0; width: 100%;
	text-align: center;
}

#learn-more-text {
	margin: auto; /*background-color: rgba(255, 255, 255, 0.6);*/
	cursor: pointer; padding: 5px; border-radius: 5px;
}

#learn-more :FIRST-CHILD {
	width: 150px;
}

#learn-more .glyphicon {
	height: 10px;
}

.imageButton:hover {
	opacity: 0.4; cursor: pointer;
}

/* Annotation screen */
.annotationFrame {
	position: relative; float: left; border: none; width: 100%;
	height: 100%;
}

/* Recommendation screen  */
.recommendation {
	margin-left: auto; margin-right: auto; width: 95%;
}

.recommendation h2 {
	text-align: center; width: 100%;
}

.recommendation .previous,.recommendation .next {
	position: relative; float: left; margin-top: auto; margin-bottom: auto;
	top: 125px; width: 5%;
}

.recommendation .previous img,.recommendation .next img {
	position: relative; top: 40%;
}

.recommendation .previous img {
	float: left
}

.recommendation .next img {
	float: right;
}

.recommendation .search {
	position: relative; width: 100%; text-align: center;
	margin-bottom: 20px; display: none;
}

.recommendationItem {
	position: relative; float: left; text-align: center; width: 28%;
	height: 100%; margin: 8px;
}

.recommendationItem img {
	max-height: 100%; max-width: 90%; postition: relative;
	margin-right: auto; margin-left: auto;
}

.recTitle {
	font-size: 1.1em; font-weight: bold;
}

/* Profile screen  */

.profileContent
{
	padding-top:20px;
}

.infoblock {
	position: relative; float: left; width: 45%; margin-right: 10px;
}

.pnlInterests {
	margin-top: 10px;
}

.expertiseSlider {
	width: 150px;
}

.refresh {
	width: 100%;
}