body{
	background-color: white;
	height:100px;
	
}
#media .resource img
{
	/*max-height: 480px;*/
}
#media .resource
{
	margin-right:100px;
}

#layout{
	padding:0;
}
#fields
{
	top: 32px;
	position: relative;
	margin-left:0;
}

a {
	color: brown;
}
a:hover {
	color: chocolate;
	cursor: pointer;
}