*.class

# Package Files #
*.war
*.ear

Accurator/war/accurator/accurator.nocache.js

Accurator/war/WEB-INF/deploy/accurator/rpcPolicyManifest/manifest.txt

Accurator/.settings/com.google.gwt.eclipse.core.prefs

Accurator/.settings/com.google.appengine.eclipse.core.prefs

Accurator/.gwt/.gwt-log

.DS_Store

UMAP2013-Demo/abstract.log

.log
.synctex.gz
.bbl

*.log

UMAP2013-Demo/demo_paper.log
