<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string># Prints
53%
30%
17%
42%
26%
32%
65%
30%
5%
50%
35%
15%
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
