<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>org.sealinc.accurator.server.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.sealinc.accurator.server.ServletListener</listener-class>
	</listener>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Accurator.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ItemComponentService</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.ItemComponentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemComponentService</servlet-name>
		<url-pattern>/accurator/ItemComponentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserComponentService</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.UserComponentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserComponentService</servlet-name>
		<url-pattern>/accurator/UserComponentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssignComponentService</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.AssignComponentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignComponentService</servlet-name>
		<url-pattern>/accurator/AssignComponentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QualityComponentService</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.QualityComponentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QualityComponentService</servlet-name>
		<url-pattern>/accurator/QualityComponentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminComponentService</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.AdminComponentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminComponentService</servlet-name>
		<url-pattern>/accurator/AdminComponentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserProfileServlet</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.UserProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfileServlet</servlet-name>
		<url-pattern>/accurator/userprofile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UtilityServlet</servlet-name>
		<servlet-class>org.sealinc.accurator.server.service.UtilityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UtilityServlet</servlet-name>
		<url-pattern>/accurator/utility</url-pattern>
	</servlet-mapping>

</web-app>
